/****************************************************************************************************
Layout
*****************************************************************************************************/
$zindex-header: $zindex-fixed + 1;
$zindex-navbar: $zindex-fixed + 2;
$layout-bg-color: #f1f4f7;

/****************************************************************************************************
Header
*****************************************************************************************************/
$header-height: 65px;
$header-bg-color: $white;
$header-item-bg-color: rgba($secondary, .10);
$header-text-color: $primary;
$header-item-sub-text-color:                           $primary-text-emphasis;
$header-border-color:                            $border-color;

/****************************************************************************************************
Navbar
*****************************************************************************************************/
$vertical-navbar-width: 270px;
$vertical-navbar-box-shadow:                        0 2px 4px rgba(21, 34, 68, 0.10);
$vertical-navbar-menu-padding-x:                    1.5rem;
$vertical-navbar-menu-padding-y:                    0.625rem;
$navbar-bg-color:                                $indigo;
$navbar-border-color:                            $border-color;
$navbar-text-color:                            $white;
$navbar-menu-font-size:                    0.925rem;
$navbar-sub-menu-font-size:                0.8125rem;
$navbar-menu-font-family:                  $font-family-secondary;
$navbar-sub-menu-font-family:              $font-family-primary;
$navbar-menu-icon-width:                   1.75rem;

/****************************************************************************************************
Footer
*****************************************************************************************************/
$footer-height: 65px;
$footer-bg-color: $white;
$footer-text-color: $gray-700;