/****************************************************************************************************
Navbar
*****************************************************************************************************/
// light
$vertical-navbar-border-color:                      $white;
$navbar-bg-color-dark: $white;
$navbar-text-color-dark:                            darken($gray-600, 10%);

// Dark
$dark-vertical-navbar-border-color-dark:                      #212124;
$dark-navbar-bg-color-dark: #212124;
$dark-navbar-text-color-dark:                            #7c7f90;