.header {
  inset-block-start: 0;
  inset-inline: 0;
  position: fixed;
  z-index: $zindex-header;
  background: var(--#{$prefix}header-bg-color);
  border-bottom: 1px solid var(--#{$prefix}header-border-color);
  transition: all 0.1s ease;
  height: $header-height;
  color: var(--#{$prefix}header-text-color);

  @media (min-width: 768px) {
    margin-left: $vertical-navbar-width;
  }

  &.header-shadow {
    box-shadow: $box-shadow;
  }

  .header-container {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 $grid-gutter-width;

    @media (width < 768px) {
      padding: 0 calc(#{$grid-gutter-width} * 0.5) 0 calc(#{$grid-gutter-width} * 0.5);
    }

    .btn-header {
      height: 40px;
      width: 40px;
      transition: all 0.5s ease;
      color: var(--#{$prefix}header-text-color);

      &:hover, &:focus, &:active, &.active {
        background-color: var(--#{$prefix}header-item-bg-color);
      }

      @media (max-width: 360px) {
        height: 36px;
        width: 36px;
      }
    }

    .header-badge {
      right: -8px;
      top: 3px !important;
    }

    .header-dropdown {
      .dropdown-menu.show {
        top: 13px !important;
      }
    }
  }
}

.hamburger-icon {
  width: 20px;
  height: 14px;
  position: relative;
  display: inline-block;

  span {
    transition: .3s ease-in-out;
    background-color: var(--#{$prefix}header-text-color);
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    display: block;

    &:nth-child(1) {
      top: 0;
      width: 100%;
    }

    &:nth-child(2) {
      top: 6px;
      width: 80%;
    }

    &:nth-child(3) {
      bottom: 0;
      width: 100%;
    }
  }
}

.hamburger-menu-btn:hover {
  span {
    &:nth-child(2) {
      top: 7px;
      width: 100%;
    }
    &:nth-child(3) {
      bottom: -1px;
    }
  }
}

.header-item {
  height: $header-height;
  display: flex;
  align-items: center;
}

.header-search {
  padding: calc(#{$header-height - 38px} * 0.5) 0;

  .form-control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: var(--#{$prefix}header-item-bg-color);
    box-shadow: none;
  }

  span.search-widget-icon {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    line-height: 38px;
    right: 13px;
    top: 0;
  }

  .search-widget-icon-close {
    right: 7px;
    left: auto !important;
  }

  @media (width < 1024px) {
    padding-left: calc(#{$grid-gutter-width} * 0.5);
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: var(--#{$prefix}header-item-sub-text-color);
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--#{$prefix}header-item-sub-text-color);
  }

  ::placeholder {
    color: var(--#{$prefix}header-item-sub-text-color);
  }
}

.header-user {
  @media (min-width: 768px) {
    background-color: var(--#{$prefix}header-item-bg-color);
  }

  img {
    height: 36px;
    width: 36px;
  }

  .dropdown-menu {
    top: 6px !important;
  }

  .dropdown-item {
    &:hover, &:focus, &:active, &.active {
      background-color: var(--#{$prefix}header-item-bg-color);;
      border-radius: 0;
    }
    &:after {
      display: none;
    }
    border-width: 0;
  }
}

.notification-item {
  padding: 0.75rem 1rem;
  white-space: inherit;
  position: relative;
}

